{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"plugins": ["react", "jsx-a11y", "import"],
	"rules": {
		"indent": [2, "tab"],
		"no-tabs": ["error", { "allowIndentationTabs": true }]
	},
	"overrides": [
		{
			"files": ["*.js"],
			"parserOptions": {
				"sourceType": "script",
				"ecmaVersion": 2018
			}
		}
	]
}
